<h1>Enter the data</h1>
<form action='/' method="POST">
    <label>Enter the values to be sent</label>
    <input type="text" id="send" name="send" required/>
    <button type="submit">SendData</button>
</form>